SELECT
    seg_id AS ident,
    ssvid,
    lat,
    lon,
    speed,
    CAST(UNIX_MICROS(timestamp) AS FLOAT64) / 1000000 AS timestamp
FROM
    `{{ source_messages }}`
WHERE
    DATE(timestamp) >= '{{ start_date }}'
    AND DATE(timestamp) < '{{ end_date }}'
{% if ssvid_filter %}
    AND ssvid IN ({{ ssvid_filter }})
{% endif %}
